
#title {
    background-color: #ff4c68;
    color: aliceblue;
}

.navbar {
    padding: 0 0 4.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.iphone {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}

#features {
    background-color: white;
    text-align: center;
    color: #8f8f8f;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}

.icons {
    color: #ef8172;
    margin-bottom: 1.5rem;
}

.icons:hover {
    color: #ff4c68;
}

.icon-heading {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding: 3%;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    pad: 3% 2%;
}

#cta {
    background-color: #ff4c68;
    color: aliceblue;
    text-align: center;
    padding: 7% 15%;
}

#cta-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

#footer {
    background-color: #fff;
    color: #8f8f8f;
    text-align: center;
    padding: 7% 15%;
}

.social-icon {
    font-size: 30px;
    color: black;
    margin: 20px 10px;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .iphone {
        transform: rotate(0);
        position: static;
    }
}